@model BabzRent.ViewModels.Maintenance.MaintenanceIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>

<table>
    <tr>
        <td>@Html.ActionLink("Meters", "Meters", "Maintenance", new { @class = "btn btn-primary" })</td>
        <td>@Html.ActionLink("New Meter Reading", "NewMeterReading", "Maintenance", new { @class = "btn btn-primary" })</td>
        <td>@Html.ActionLink("Multi Meter Reading", "NewMultiMeterReading", "Maintenance", new { @class = "btn btn-primary" })</td>

    </tr>
</table>

<h2>Maintenance</h2>

<h2>Multi Meter Readings</h2>

@foreach (var location in Model.Locations)
{
    <h3>@location.ShortCode</h3>
    <table class="table table-bordered">
        <tr>
            @foreach (var bill in Model.BillTypes)
            {
                <td>@Html.ActionLink(bill.Name, "NewMultiMeterReading", "Maintenance", new { LocationId = location.Id, BillTypeId = bill.Id }, null)</td>
            }
            <td>@Html.ActionLink("All", "NewMultiMeterReading", "Maintenance", new { LocationId = location.Id }, null)</td>
        </tr>
    </table>

}