@model BabzRent.ViewModels.BillingViewModels.InvoicePreviewViewModel

@{ 
    var tenant = Model.Tenants.FirstOrDefault();
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        text-align: center
    }

    .invoice-box table tr.heading td:nth-child(1) {
        text-align: left
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
        text-align: center
    }

    .invoice-box table tr.item td:nth-child(1) {
        border-bottom: 1px solid #eee;
        text-align: left
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total {
        border-top: 2px solid #eee;
        font-weight: bold;
        text-align: right
    }


    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    </style>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="5">
                    <table>
                        <tr>
                            <td class="title">
                                <h1>BabzRent Properties</h1>
                            </td>

                            <td>
                                Invoice: @Model.Invoice.Reference<br>
                                Created: @Model.Invoice.DateIssued<br>
                                Due: @Model.Invoice.DueDate
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="5">
                    <table>
                        <tr>
                            <td>
                                <strong>Sprzedawca:</strong><br>
                                BabzRent Properties<br>
                                76a Harlington Road West<br>
                                TW14 0JJ
                            </td>

                            <td>
                                <strong>Najemca</strong><br>
                                @tenant.FirstName @tenant.LastName<br>
                                Address 1<br>
                                Address 2<br>
                                Address 3<br>
                                @tenant.Email
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>
                    Item
                </td>
                <td>
                    J.M
                </td>
                <td>
                    Ilosc
                </td>
                <td>
                    Cena
                </td>
                <td>
                    Wartosc
                </td>
            </tr>

            @foreach (var bill in Model.Bills)
            {
                <tr class="item">
                    <td>
                        @bill.Description
                    </td>
                    <td>
                        Miesiac
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        @bill.Amount
                    </td>
                    <td>
                        @bill.Amount zl
                    </td>
                </tr>
            }


            <tr class="total">
                <td colspan="5">
                    Total: @Model.Invoice.Amount zl
                </td>
            </tr>

            <tr>
                <td colspan="5" style="text-align:right">
                    Słownie:
                </td>
            </tr>

            <tr>
                <td>
                    Sprzedawca nie jest płatnikiem Vat
                </td>
            </tr>

            <tr>
                <td colspan="5">
                    <text>
                        Mieszkaniu obowiązuje całkowity zakaz prowadzenia działalności gospodarczej. Faktura ta jest wystawiana osobie fizycznej i nie wolno używać jej jako podstawa kosztów uzyskania przychodu w działalności gospodarczej. Ewentualne użycie tego dokumentu w/w celach odbywa się bez wiedzy i zgody wynajmującego a zatem całą odpowiedzialność karno - skarbową ponosi najemca.
                    </text>
                </td>
            </tr>

        </table>
    </div>
</body>
</html>
